#title-bar
{
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.hero
{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
}

.card
{
  background-color: aliceblue;
  display:flex;
  flex-direction: column;
  height:350px;
  width:250px;
  border-radius: 10px;
  align-items:center;
  box-sizing: border-box;
  padding: 0 20px;
}

.card:hover
{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Flip Logic Start */

.card-inner
{
  position: relative;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card.flipped .card-inner
{
  transform: rotateY(180deg);
}

.card-front,.card-back
{
  position: absolute;
  inset:0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  backface-visibility: hidden;
}

.card-back
{
  transform: rotateY(180deg);
}

/* Flip Logic End */